/Python/__pycache__
/Python/.vscode

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactjs/node_modules
/reactjs/.pnp
/reactjs.pnp.js

# testing
/reactjs/coverage

# production
/reactjs/build

# misc
/reactjs/.DS_Store
/reactjs/.env.local
/reactjs/.env.development.local
/reactjs/.env.test.local
/reactjs/.env.production.local

/reactjs/npm-debug.log*
/reactjs/yarn-debug.log*
/reactjs/yarn-error.log*

/reactjs/.firebaserc
/reactjs/.firebase
/reactjs/build
